html {
  font-family: 'Montserrat';
}

#navbar.visible {
  transform: translateY(0); /* Final position */
}

#title.visible, #deskTitle.visible {
  transform: translateX(0); /* Final position */
}

#deskName.visible {
  transform: translateX(0); /* Final position */
}

#mobileName.visible {
  transform: translateX(0);
}
